<script type="text/template" id="search-table">
    <table class="table table-bordered" id="tblSearch">
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Role</td>
        </tr>
        <% _.each(response,function(editor,i){ %>
        <tr>
            <td><%= editor.id %></td>
            <td><%= editor.name %></td>
            <td><%= editor.role %> <i class="fa fa-trash" data-id="<%= editor.id %>"></i><span class="glyphicon glyphicon-edit" data-id="<%=editor.id %>"></span></td>
        </tr>
        <%  }); %>
    </table>
</script>
    